# Database Folder
database/

# Query Datasets
qs1/
qs2/
results/
qs1t/
qs2t/

# Virtual Envs
.env/
.venv/
env/
venv/

# Compilation
__pycache__/
.ipynb_checkpoints

# Program Folders
.dist/
.vscode/
.DS_Store
