# Database Folder
database/

# Query Datasets
qs1/
qs2/
results/QS2_masks2
results/QS1_masks1

# Virtual Envs
.env/
.venv/
env/
venv/

# Compilation
__pycache__/
.ipynb_checkpoints

# Program Folders
.dist/
.vscode/
.DS_Store
