# Database Folder
database/

# Query Datasets
bbdd/
bbdd_text/
qsd1_w1/
qsd2_w1/
qsd1_w2/
qsd2_w2/
qsd1_w2/
qsd1_w3/
qsd2_w3/
qsd1_w4/
qsd1_w5/

# TEST
results/

# Virtual Envs
.env/
.venv/
env/
venv/

# Compilation
__pycache__/
.ipynb_checkpoints

# Program Folders
.dist/
.vscode/
.DS_Store
*.png
